.top-content{
    background: url("img/header.png") no-repeat;
    background-size: 100% 100%;
    min-height: 1197px;
}
.navbar-default{
  height: 147px;
  border:0;
  margin: 0;
}

.navbar-brand{
  margin-top: 25px;
}
.navbar-nav{
  margin-top: 40px;
  margin-right: 70px;
}
.navbar-default .navbar-nav>li>a{
  font-weight: bold;
  color: #262626;
}
.navbar-default .navbar-nav>li>a:hover{
  border-top: 2px solid #ff6033;
}

.btn-primary{
  width: 200px;
  height: 55px;
}
