/******** navbar and content ******/
.navbar-default{
  min-height: 147px;
  border:0;
  margin: 0;
  background-color: #f9f8fb;

}

.navbar-brand{
  margin-top: 25px;
  margin-left: 50px;
}
.navbar-nav{
  margin-top: 40px;
  margin-right: 70px;
}
.navbar-default .navbar-nav>li>a{
  font-weight: bold;
  color: #262626;
}
.navbar-default .navbar-nav>li>a:hover{
  border-top: 2px solid #ff6033;
}
.top-content{
    background: url("img/header.png") no-repeat;
    background-size: 100% auto;
    min-height: 1100px;
}
.btn-custom{
  color: white;
  background-color: #ff6033;
  box-shadow: 5px 5px 5px #888888;
  border: none;
  border-radius: 0;
  min-width: 200px;
  height: 55px;
}
.btn-custom:hover{
  text-decoration: none;
  color: white;
  background-color: #ea4313;
}
.content-1{
  text-align: left;
  margin-top: 300px;
}

h1{
  font-weight: bold;
}
/******** about-us ******/
.about-us{
  background-color: #00b3b3;
  min-height: 700px;
}

.img-about{
  margin: 10% auto;
}

.content-about-us{
  text-align: left;
  margin: 40% auto; /** test **/
}
h2{
  color: white;
  font-weight: bold;
  font-size: 80px;
}
/******** our-services ******/
.services{
  background-color: #70bfff;
  min-height: 790px;
}
/*.button-service{
  position: relative;
  left: 100px;
  height: 100px;
  width: 400px;
  margin-bottom: 10px;
} */
.service-buttons{
margin-top: 170px;
}
.service-button{
  background-color: #ffffff;
  box-shadow: 3px 3px 4px rgba(0,0,0,.3);
  width: 400px;
  height: 100px;
  margin: 10px auto;
  text-align: center;
}
.service-button:hover{
    color:#00b9b9;
}
a:visited{
  color:inherit;
  text-decoration: none;
}
.button-text{
  float: left;
  width: 300px;
  height: 100%;
  text-align: center;
  display: table;
}
.text-serv{
  font-weight: 700;
  display: table-cell;
  vertical-align: middle;
}
.button-icon{
  float: right;
  border-left: 1px solid black;
  height: 100%;
  width: 100px;
  line-height:120px;
}
.icon-img{
  padding-top: 20px;
}
.text-img2{
  position: relative;
  top: 320px;
}

.galerry-content{
  background-color: #ffe92f;
  min-height: 1536px;
}
.text-galerry{
  text-align: center;
  width: 30%;
  margin: 0 auto;
}
.h2-galerry{
  color: black;
}
.margin-img1{
  margin-bottom: 20px;
}
.margin-img2{
  margin-top: 20px;
}
.content-img{
  margin-top: 50px;
}
.btn-primary{
  position: relative;
  color: white;
  box-shadow: 5px 5px 5px #888888;
  border: none;
  border-radius: 0;
  min-width: 200px;
  height: 55px;
}
.button-view-more{
  margin-top: 40px;
  text-align: center;
}
.subscribe-content{
  background: url("img/bg-subscribe.jpg")no-repeat;
  background-size: 100% auto;
  background-color: #ffffff;
  min-height: 500px;
}
.subscribe-text{
  font-size: 50px;
  text-align: left;
  color: black;
}
.email-input{
  min-width: 570px;
  min-height: 53px;
}
.btn-info{
  border: none;
  border-radius: 0;
  box-shadow: 5px 5px 5px #888888;
  background-color: #96b92c;
  width: 170px;
  min-height: 57px;
  margin-left: 15px;
}
.blog-content{
  background-color: #b07cf7;
  min-height: 865px;
}
/*
<div class="serviceBttn ">
<div class="bttnTxt "><p class="">Online Shopping</p></div>
<div class="bttnIcon">
<img src="images/basket.jpg" alt="black shopping trolley icon for Online Shopping button"/>
</div>
</div>
 **/
